**Pyspark Groupby And Aggregate Functions.ipynb**

In [ ]:
!pip install pyspark
import pyspark

In [20]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
spark=SparkSession.builder.appName('Agg').getOrCreate()

In [4]:
df_pyspark=spark.read.csv("test5.csv", header=True, inferSchema=True)

In [5]:
df_pyspark.show()

+---------+------------+------+
|     Name| Departments|Salary|
+---------+------------+------+
|    Krish|         IOT| 10000|
|    Krish|Data Science| 30000|
|Sudhanshu|    Big Data| 25000|
|    Sunny|    Big Data| 20000|
|     Paul|    Big Data| 20000|
|   Harsha|    Big Data| 15000|
|  Shubham|         IOT| 18000|
|Sudhanshu|Data Science|  5000|
|   Mahesh|         IOT|  1000|
+---------+------------+------+

In [6]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [9]:
## Groupby
## Goruped to find the maximum salary
df_pyspark.groupBy('Name').sum().show()

+---------+-----------+
|     Name|sum(Salary)|
+---------+-----------+
|Sudhanshu|      30000|
|    Sunny|      20000|
|    Krish|      40000|
|   Harsha|      15000|
|     Paul|      20000|
|  Shubham|      18000|
|   Mahesh|       1000|
+---------+-----------+

In [22]:
df_pyspark=df_pyspark.groupBy('Name').max().orderBy(F.desc('max(Salary)')).show()

+---------+-----------+
|     Name|max(Salary)|
+---------+-----------+
|    Krish|      30000|
|Sudhanshu|      25000|
|    Sunny|      20000|
|     Paul|      20000|
|  Shubham|      18000|
|   Harsha|      15000|
|   Mahesh|       1000|
+---------+-----------+

In [11]:
### Groupby Department which gives maximum salary
df_pyspark.groupBy('Departments').sum().show()

+------------+-----------+
| Departments|sum(Salary)|
+------------+-----------+
|         IOT|      29000|
|    Big Data|      80000|
|Data Science|      35000|
+------------+-----------+

In [12]:
df_pyspark.groupBy('Departments').mean().show()

+------------+-----------------+
| Departments|      avg(Salary)|
+------------+-----------------+
|         IOT|9666.666666666666|
|    Big Data|          20000.0|
|Data Science|          17500.0|
+------------+-----------------+

In [13]:
df_pyspark.groupBy('Departments').count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    3|
|    Big Data|    4|
|Data Science|    2|
+------------+-----+

In [15]:
df_pyspark.agg({'Salary': 'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|     144000|
+-----------+