Covering:

*   PySpark Dataframe
*   Reading the Dataset
*   Checking the Datatypes of the Column(Schema)
*   Selecting Columns and indexing
*   Check Describe option similar to Pandas
*   Adding Columns
*   Dropping columns
*   Renaming names

In [43]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.0)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [44]:
import pyspark

In [45]:
from pyspark.sql import SparkSession

In [46]:
spark=SparkSession.builder.appName('Dataframe').getOrCreate()

In [47]:
spark

In [48]:
## read the dataset
df_pyspark=spark.read.option('header', 'true').csv('test2.csv', inferSchema=True)

In [49]:
### Check the schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [50]:
df_pyspark=spark.read.csv('test2.csv', header=True, inferSchema=True)
df_pyspark.show()

+---------+---+----------+
|     Name|age|Experience|
+---------+---+----------+
|   Dérick| 27|        10|
|    Jamal|  3|         8|
|Cleidiane| 32|         4|
+---------+---+----------+

In [51]:
### Check the schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [52]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [53]:
df_pyspark.columns

['Name', 'age', 'Experience']

In [54]:
df_pyspark.head(3)

[Row(Name='Dérick', age=27, Experience=10),
 Row(Name='Jamal', age=3, Experience=8),
 Row(Name='Cleidiane', age=32, Experience=4)]

In [55]:
df_pyspark.show()

+---------+---+----------+
|     Name|age|Experience|
+---------+---+----------+
|   Dérick| 27|        10|
|    Jamal|  3|         8|
|Cleidiane| 32|         4|
+---------+---+----------+

In [56]:
df_pyspark.select(['Name', 'Experience']).show()

+---------+----------+
|     Name|Experience|
+---------+----------+
|   Dérick|        10|
|    Jamal|         8|
|Cleidiane|         4|
+---------+----------+

In [57]:
df_pyspark['Name']

Column<'Name'>

In [58]:
df_pyspark.dtypes

[('Name', 'string'), ('age', 'int'), ('Experience', 'int')]

In [59]:
df_pyspark.describe().show()

+-------+---------+------------------+-----------------+
|summary|     Name|               age|       Experience|
+-------+---------+------------------+-----------------+
|  count|        3|                 3|                3|
|   mean|     NULL|20.666666666666668|7.333333333333333|
| stddev|     NULL| 15.50268793897798|3.055050463303893|
|    min|Cleidiane|                 3|                4|
|    max|    Jamal|                32|               10|
+-------+---------+------------------+-----------------+

In [60]:
### Adding Columns in data frame
df_pyspark=df_pyspark.withColumn('Experience After 2 year', df_pyspark['Experience']+2)

In [33]:
df_pyspark.show()

+---------+---+----------+-----------------------+
|     Name|age|Experience|Experience After 2 year|
+---------+---+----------+-----------------------+
|   Dérick| 27|        10|                     12|
|    Jamal|  3|         8|                     10|
|Cleidiane| 32|         4|                      6|
+---------+---+----------+-----------------------+

In [61]:
## Drop the columns
df_pyspark=df_pyspark.drop('Experience After 2 year')

In [62]:
df_pyspark.show()

+---------+---+----------+
|     Name|age|Experience|
+---------+---+----------+
|   Dérick| 27|        10|
|    Jamal|  3|         8|
|Cleidiane| 32|         4|
+---------+---+----------+

In [65]:
### Rename the columns
df_pyspark.withColumnRenamed('Name', 'New Name').show()

+---------+---+----------+
| New Name|age|Experience|
+---------+---+----------+
|   Dérick| 27|        10|
|    Jamal|  3|         8|
|Cleidiane| 32|         4|
+---------+---+----------+