**Pyspark Handling Missing Values**

*   Dropping Columns
*   Dropping Rows
*   Various Parametes In Dropping functionalities
*   Handling Missing values by Mean, Median and Mode

In [ ]:
!pip install pyspark
import pyspark

In [2]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Practise').getOrCreate()

In [5]:
df_pyspark=spark.read.csv('test3.csv', header=True, inferSchema=True)

In [6]:
df_pyspark.show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|   Dérick|  27|        10| 30000|
|    Jamal|   3|         8| 25000|
|Cleidiane|  32|         4|  2000|
|    Sonia|  32|        21| 20000|
|    Maura|  44|         4| 15000|
|    Edson|  54|         5| 18000|
|    Leona|NULL|      NULL| 40000|
|     NULL|  33|        10| 38000|
|     NULL|  43|      NULL|  NULL|
+---------+----+----------+------+

In [8]:
### drop the columns
df_pyspark.drop('Name').show()

+----+----------+------+
| age|Experience|Salary|
+----+----------+------+
|  27|        10| 30000|
|   3|         8| 25000|
|  32|         4|  2000|
|  32|        21| 20000|
|  44|         4| 15000|
|  54|         5| 18000|
|NULL|      NULL| 40000|
|  33|        10| 38000|
|  43|      NULL|  NULL|
+----+----------+------+

In [9]:
df_pyspark.show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|   Dérick|  27|        10| 30000|
|    Jamal|   3|         8| 25000|
|Cleidiane|  32|         4|  2000|
|    Sonia|  32|        21| 20000|
|    Maura|  44|         4| 15000|
|    Edson|  54|         5| 18000|
|    Leona|NULL|      NULL| 40000|
|     NULL|  33|        10| 38000|
|     NULL|  43|      NULL|  NULL|
+---------+----+----------+------+

In [10]:
df_pyspark.na.drop().show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|   Dérick| 27|        10| 30000|
|    Jamal|  3|         8| 25000|
|Cleidiane| 32|         4|  2000|
|    Sonia| 32|        21| 20000|
|    Maura| 44|         4| 15000|
|    Edson| 54|         5| 18000|
+---------+---+----------+------+

In [12]:
### aby==how
df_pyspark.na.drop(how='any').show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|   Dérick| 27|        10| 30000|
|    Jamal|  3|         8| 25000|
|Cleidiane| 32|         4|  2000|
|    Sonia| 32|        21| 20000|
|    Maura| 44|         4| 15000|
|    Edson| 54|         5| 18000|
+---------+---+----------+------+

In [13]:
## threshold
df_pyspark.na.drop(how='any', thresh=2).show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|   Dérick|  27|        10| 30000|
|    Jamal|   3|         8| 25000|
|Cleidiane|  32|         4|  2000|
|    Sonia|  32|        21| 20000|
|    Maura|  44|         4| 15000|
|    Edson|  54|         5| 18000|
|    Leona|NULL|      NULL| 40000|
|     NULL|  33|        10| 38000|
+---------+----+----------+------+

In [15]:
##Subset
df_pyspark.na.drop(how='any', subset=['Age']).show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|   Dérick| 27|        10| 30000|
|    Jamal|  3|         8| 25000|
|Cleidiane| 32|         4|  2000|
|    Sonia| 32|        21| 20000|
|    Maura| 44|         4| 15000|
|    Edson| 54|         5| 18000|
|     NULL| 33|        10| 38000|
|     NULL| 43|      NULL|  NULL|
+---------+---+----------+------+

In [20]:
### Filling the Missing Values
df_pyspark.na.fill('Missing Values', ['Experience', 'age']).show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|   Dérick|  27|        10| 30000|
|    Jamal|   3|         8| 25000|
|Cleidiane|  32|         4|  2000|
|    Sonia|  32|        21| 20000|
|    Maura|  44|         4| 15000|
|    Edson|  54|         5| 18000|
|    Leona|NULL|      NULL| 40000|
|     NULL|  33|        10| 38000|
|     NULL|  43|      NULL|  NULL|
+---------+----+----------+------+

In [22]:
df_pyspark.show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|   Dérick|  27|        10| 30000|
|    Jamal|   3|         8| 25000|
|Cleidiane|  32|         4|  2000|
|    Sonia|  32|        21| 20000|
|    Maura|  44|         4| 15000|
|    Edson|  54|         5| 18000|
|    Leona|NULL|      NULL| 40000|
|     NULL|  33|        10| 38000|
|     NULL|  43|      NULL|  NULL|
+---------+----+----------+------+

In [23]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['age', 'Experience', 'Salary'],
    outputCols=["{}_imputed".format(c) for c in ['age', 'Experience', 'Salary']]
).setStrategy("mean")

In [24]:
## Add imputation cols to df
imputer.fit(df_pyspark).transform(df_pyspark).show()

+---------+----+----------+------+-----------+------------------+--------------+
|     Name| age|Experience|Salary|age_imputed|Experience_imputed|Salary_imputed|
+---------+----+----------+------+-----------+------------------+--------------+
|   Dérick|  27|        10| 30000|         27|                10|         30000|
|    Jamal|   3|         8| 25000|          3|                 8|         25000|
|Cleidiane|  32|         4|  2000|         32|                 4|          2000|
|    Sonia|  32|        21| 20000|         32|                21|         20000|
|    Maura|  44|         4| 15000|         44|                 4|         15000|
|    Edson|  54|         5| 18000|         54|                 5|         18000|
|    Leona|NULL|      NULL| 40000|         33|                 8|         40000|
|     NULL|  33|        10| 38000|         33|                10|         38000|
|     NULL|  43|      NULL|  NULL|         43|                 8|         23500|
+---------+----+----------+------+-----------+------------------+--------------+